footer.footer
	.container
		a.btn.btn-default.btn-xs(href='https://twitter.com/jonyfs',target="_blank")
			i.fa.fa-twitter   Jony's Twitter
		= ' '
		a.btn.btn-default.btn-xs(href='https://linkedin.com/in/jonyfs',target="_blank")
			i.fa.fa-linkedin   Jony's LinkedIn
		= ' '
		a.btn.btn-default.btn-xs(href='https://github.com/wellspring-framework/angular-frontend',target="_blank")
			i.fa.fa-github   Github Project