div(ng-include='"components/navbar/navbar.html"')


.container
	.panel.panel-default
		.panel-heading Angular Frontend Example
		.panel-body
			.row
				p.lead Crud Example created by Jony Santos
				h4.page-header Tools:
					ul.nav.nav-tabs.nav-stacked
						li
							a(href='https://nodejs.org', target="_blank") Node.js

						li
							a(href='http://jade-lang.com', target="_blank") jade

						li
							a(href='https://angularjs.org', target="_blank") AngularJS
							
						li
							a(href='http://gruntjs.com', target="_blank") Grunt

						li
							a(href='https://github.com/wellspring-framework/wellspring/tree/master/examples/angular/angular-backend', target="_blank") angular-backend

						li
							a(href='http://yeoman.io', target="_blank") Yeoman

						li
							a(href='http://bower.io', target="_blank") Bower
							
						li
							a(href='http://getbootstrap.com', target="_blank") Bootstrap
		.panel-footer angular-frontend and angular-backend examples are hosted in Heroku Cloud Application Platform using free mode. The free mode sleeps after 30 mins of inactivity.

div(ng-include='"components/footer/footer.html"')